In [31]:
import pandas 
import cx_Oracle

cs='''(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.sa-saopaulo-1.oraclecloud.com))(connect_data=(service_name=gd5f74d7098ae29_basededatosii_high.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))'''

connection=cx_Oracle.connect(
        user="danielatriador",
     password="Basededatos22023",
     dsn=cs)

sql = "select * from danielatriador.users"
dataset = pandas.read_sql(sql , connection)

connection.close()

dataset

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   USR_ID USR_NAME USR_LAST_NAME           USR_EMAIL USR_PASSWORD
0       1  Daniela       Triador   danitriador@gmail         1234
1       2  Julieta      Villagra  julivillagra@gmail         1234

#### Esté código describe la conexión a una base de datos mediante sqlalquemy

In [32]:
dataset

   USR_ID USR_NAME USR_LAST_NAME           USR_EMAIL USR_PASSWORD
0       1  Daniela       Triador   danitriador@gmail         1234
1       2  Julieta      Villagra  julivillagra@gmail         1234

In [33]:
dataset.describe()

         USR_ID
count  2.000000
mean   1.500000
std    0.707107
min    1.000000
25%    1.250000
50%    1.500000
75%    1.750000
max    2.000000

In [35]:
dataset['user_name']

0    Daniela
1    Julieta
Name: USR_NAME, dtype: object

In [38]:
dataset['user_name'][1]='Daniela'

C:\Users\danit\AppData\Local\Temp\ipykernel_9016\1738246707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['USR_NAME'][1]='Daniela'

In [40]:
dataset

   USR_ID USR_NAME USR_LAST_NAME           USR_EMAIL USR_PASSWORD
0       1  Daniela       Triador   danitriador@gmail         1234
1       2  Daniela      Villagra  julivillagra@gmail         1234